body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
}

h1 {
    color: #333;
}

h2 {
    color: #555;
}

.menu, .order {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.item-name {
    font-weight: bold;
    width: 100px;
}

.item-price {
    color: green;
}

.add-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.remove-button {
    background-color: #e52121;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.add-button:hover {
    background-color: #218838;
}

.total {
    margin-top: 10px;
    font-size: 1.2em;
}

.active {
    border-bottom: 1px solid red;
}
